


.a1{

 margin-left: 40%;


}

.prog{
font-size: 100% ;
width: 50%;
margin-left: 20%;

 
 text-align: center;

}
.cont
{


 display: inline-flex;

 margin-left: 18%;


}

.b1{
border-style: double;
 border-bottom: 40px;
 margin-top: 5%;
 width: 300px;
 
 
}

.prog1{



padding: 20px;

}

.hadeeing{


margin-left: 25%;

}
.icon{
    margin: auto;
    width: auto;
    border-bottom: 2px  orange solid;
    border-width: 3%;

    
    text-align: center;
    
}




