
body{
   
    text-indent: 50%;
    text-align: justify;
    
}
.a1{


    
}

#a2{

   
    margin-left: 33%;
  text-align: justify;
  
 width: 35%;


}

.b1{

   text-align: center;

border-style: double;




}

.ww{


    
}

.b2{

    

    
    
   width: 300px;
   height: 300px;
    border-style: double;
    

}
.b3{

   
    width: 300px;

border-style: double;
}

h3{
   
     width: 300px;
    
    border-style: double;
    
}

p




h1{

    text-align: center;
  text-transform: uppercase;

  

}