body {
  /* background-image: url(tree.jpg); */
  background-image: url(./tree.jpg);
  background-repeat: no-repeat;

  background-size: cover;

  /* width: %;

height: 100%; */
}

.nav-list {
  float: right;
  text-decoration: none;
}
.cards {
  padding: 10px;
}

h1 {
  display: inline;
}

.nav {
  color: goldenrod;
}

a:hover {
  color: black;
}
a {
  color: black;
  text-decoration: none;
}

li {
  display: flex;
  display: inline;
  padding: 20px;
}

.main-prog {
  padding-bottom: 80%;
}

#content-text1 {
  font-weight: bold;
  font-family: fantasy;
  text-align: left;
}
#text {
  line-height: 1.5em;

  font-family: "Courier New", Courier, monospace;
}

.content-text {
  text-align: left;
  margin-top: 15%;
}

.btn {
  height: 30px;
}

#buttoncolor {
  color: white;
  border: black;
  text-decoration: none;
}

button {
  background-color: black;
}
